.venv/
.env
.python-version
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.env
*.env.*
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info