IS_DEV=<True|False>
MONGO_PASSWORD=<your_mongo_password>
MONGO_DATABASE=<your_database_name>
GEMINI_API_KEY=<your_gemini_api_key>
GEMINI_PROJECT_ID=<your_gemini_project_id>
GEMINI_MODEL_NAME=<your_standard_gemini_model_name>
GEMINI_PREMIUM_MODEL_NAME=<your_premium_gemini_model_name>
MAX_SEARCH_RESULTS=<number_of_search_results>
REDIS_URL=<your_redis_url>
REDIS_INDEX_NAME=<your_redis_index_name>
